<div class="jumbotron center">
  <h1>ALPHA BLOG</h1>
  <div class="row">
    <%= link_to("About", pages_about_path, class: "btn btn-primary btn-lg btn-xlarge") %>
    <%= link_to("Articles list", articles_path, class: "btn btn-primary btn-lg btn-xlarge") %>
  </div>
</div>
